{% extends 'base.html' %}

{% block title %}Информация о продукте{% endblock %}

{% block content %}
<div class="container">
    <div style="width: 250px">
        <img class="img-fluid" style="" src="{{product.image.url}}" alt="{{product.name}}">
    </div>
    <p>Наименование: {{product.name}}</p>
    <p>Описание: {{product.description}}</p>
    <p>Категория: {{product.category}}</p>
    <p>Цена: {{product.price}}</p>
    <p>Дата создания: {{product.created_at | date:"d M Y"}} </p>
    <p>Дата изменения: {{product.created_ut}}</p>
    <a class="p-2 btn btn-primary" href="{% url 'catalog:update_product' product.pk %}">Изменить</a>
    <a class="p-2 btn btn-danger" href="{% url 'catalog:delete_product' product.pk %}">Удалить</a>
</div>
{% endblock%}
